# Ignore compiled object files
*.o

# Ignore compiled dynamic libraries
*.so
*.dll
*.dylib

# Ignore compiled executables
*.exe
*.out
*.app

# Common Linux binaries (like a.out, or compiled files with no extension)
a.out
*/a.out

# VSCode settings
.vscode/

# Temporary / log files
*.log
*.tmp
